<div id="sidebar-container" class="bg-primary sidebar-menu">
    <div class="logo">
        <h4 class="text-light fw-bold">Geoveloper</h4>
    </div>
    <div class="memu">
        <a routerLink="/home" class="d-flex p-3 text-light">
            <ion-icon name="apps-outline" class="icon-sidebar"></ion-icon>
            <span>Dashboard</span>
        </a>
        <a routerLink="products" class="d-flex p-3 text-light">
            <ion-icon name="list-outline" class="icon-sidebar"></ion-icon>
            <span>Products</span>
        </a>
        <a routerLink="customers" class="d-flex p-3 text-light">
            <ion-icon name="person-outline" class="icon-sidebar"></ion-icon>
            <span>Customers</span>
        </a>

        <a href="#" class="d-flex p-3 text-light">
            <ion-icon name="people-outline" class="icon-sidebar"></ion-icon>
            <span>Users</span>
        </a>
        <a href="#" class="d-flex p-3 text-light">
            <ion-icon name="stats-chart-outline" class="icon-sidebar"></ion-icon>
            <span>Statistics</span>
        </a>
        <a href="#" class="d-flex p-3 text-light">
            <ion-icon name="settings-outline" class="icon-sidebar"></ion-icon>
            <span>Settings</span>
        </a>
    </div>
</div>