.col-static {
  width: 8em;
}

@media (max-width: 1000px) {
  .col-static {
    width: 7em !important;
  }
}

@media (max-width: 900px) {
  .col-static {
    width: 6em !important;
  }
}

@media (max-width: 800px) {
  .col-static {
    width: 5em !important;
  }
}

@media (max-width: 700px) {
  .col-static {
    width: 4em !important;
  }
}
